<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All Terms</title>
</head>
<body>
    <div>
        <a href="/">Home</a>
        <a href="/terms/new">Create a New Term</a>
      </div>
      <div>
          {{#termsList}}
            <h1><a href="/terms/{{id}}">{{name}}</a></h1> 
            <p>{{definition}}</p>
          {{/termsList}}
      </div>
</body>
</html>